<section class="container mt-4">
    <div class="row">
    
      <div class="col-lg-6">
        <!-- About Me Content -->
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget mauris a urna lacinia tristique a at elit. Nullam auctor urna nec justo ultrices, nec bibendum tortor viverra.</p>
      </div>
      <div class="col-lg-6">
        <!-- Your Picture -->
        <img src="../../assets/myphoto.JPG" alt="Your Name" class="img-fluid rounded-circle" width="100%">
      </div>
    </div>
  </section>
  