<section class="container mt-4">
    <div class="home row">
        <div class="home-photo col-md-6">
            <img src="../../assets/myphoto.JPG" alt="Manoj Bhatt Photo">
        </div>
        <div class="home-content col-md-6">
            <h1>Hi, I'm <span>Manoj Bhatt</span></h1>
            <h3>A Full Stack Developer</h3>
            <p> This is my official portfolio website to show all my details and work exeperiences.</p>
            <div class="home-sci">
                <a href=""><i class='bx bxl-facebook'></i></a>
                <a href=""><i class='bx bxl-linkedin'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-youtube'></i></a>
            </div>
            <a href="https://docs.google.com/document/d/1dAqtwmXsu6DJOwHTBCUrsNHHSbQ16km4/edit?pli=1" class="btn">Download CV</a>
        </div>
    </div>
</section>